<!doctype html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Torneo de Golf</title>
</head>
<body>

{% extends 'base.html' %}

{% block body %}

<div id="intro">
<figure>
	<img src="/media/img/hola.jpg" alt="">
</figure>
<h1>Bienvenido al Torneo de Golf</h1>
<div>
<h3>Participa y gana un viaje a las Vegas </h3>

<!-- 
<p>Grupo Rivero te invita a participar y ganar un viaje a las Vegas con todo pagado, participara toda persona que llene el total de los cuestionarios que se encuentrena a lo largo de los hoyos.  </p> 
 -->
<!--  

<p>This is an entirely not-for-profit, community initiative, motivated by a belief that there are more and better ways to live than the nuclear family. We want to get a better picture of the communities making this happen. </p>
-->
</div>

<div> <br>


<h4>
		<a href="/survey/1">Hole  1: Cadillac ATS 2015</a>
</h4><br>

<h4>
		<a href="/survey/2">Hole 2: Cadillac CTS 2015</a>
</h4><br>

<h4>
		<a href="/survey/3">Hole 3: Cadillac SRX 2015</a>
</h4><br>

<h4>
		<a href="/survey/4">Hole 4: Cadillac ESCALADE 2015</a>
</h4>
	<!-- 
	<a href="/privacy/">Read the Privacy Statement</a>
	 -->
</div>
</div>

{% endblock %}

	
</body>
</html>